@model string

<title>ReservationConfirmation.cshtml</title>



<div class = "ReservationConfirmation-container">
    
    <h1>Tack för din reservation!</h1>
    <p>Din reservationskod är:</p>
    
    <div> @Model </div>
    <br />
    <a href="https://localhost:7148/">Tillbaka</a>
    
</div>


